body{
    background-color:#eeeeee;
}

h1 {
    color:darkgreen;
}

p{
    color:#333333
}

img{
    max-width: 100%;
}
.container{
    width: 700px;
    background-color:#dddddd;
    padding:20px;
    border: 3px solid #666666;
    border-radius:10px ; 
    margin: 30px auto;
    
}

.content{
    width: 500px;
    float: left;
}

.sidebar{
width: 200px;
float: right;
}

.clear{
    clear: both;
}

.topnav {
    background-color: #333333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.topnav a:hover{
    background-color: #dddddd;
    color: black;
}

.topnav a.active {
background-color: #09ad71;
color: white;
}

.sidebar {
    background-color: #dddddd;
    overflow: hidden;
}

.sidebar a {
    float: left;
    color: #000000;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover{
    background-color: #bdb9b9;
    color: black;
}

.sidebar a.active {
background-color: #04aa6d;
color: rgb(0, 0, 0);
}
